@model WOTMVC.Models.NationMods.NationDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NationDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Terrain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Terrain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trades)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
