@model WOTMVC.Models.BookMods.BookDetail

@{
    ViewBag.Title = "Details";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Details.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>*@
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<h2>Details</h2>

<div>
    <h4>BookDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Chapters)

        </dt>
        <dd>
            <ul>
                @foreach (var item in Model.Chapters)
                {
                    <li>
                        @Html.ActionLink(item.ChapTitle, "Details", "Chapter", new { id = item.ChapterId}, null)
                    </li>
                }
            </ul>
        </dd>
    </dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
