@model IEnumerable<WOTMVC.Models.BookMods.BookListItem>

@{
    ViewBag.Title = "Books";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/objIndex.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-xs-3 col-sm-6 col-md-12 col-lg-12 caption">
                <h1 class="display-2">Wheel of Time</h1>
                <h3 class="display-2">Books</h3>
            </div>
        </div>
    </div>

    <div class="container-fluid padding">
        <div class="row text-center padding">
            @foreach (var item in Model)
            {
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-around">
                    <div class="flip-card" style="margin-bottom: 250px">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="@Url.Content(item.Image)" id="bookimg" />
                            </div>
                            <div class="flip-card-back">
                                <h1>@Html.DisplayFor(model => item.Title)</h1>
                                <p>@Html.DisplayFor(model => item.PageCount) Pages</p>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Chapters
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>



</body>













@*<div>
        <table class="table-borderless padding d-flex justify-content-center text-center">
            <thead></thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th></th>
            </tr>


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="dropdown show center-block">
                            <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div>@Html.DisplayFor(modelItem => item.Title)</div>
                            </a>
                            <hr />

                            <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item">@Html.ActionLink("Edit", "Edit", new { id = item.BookId })</a>
                                <a class="dropdown-item" href="#">@Html.ActionLink("Details", "Details", new { id = item.BookId })</a>
                                <a class="dropdown-item" href="#">@Html.ActionLink("Delete", "Delete", new { id = item.BookId })</a>
                            </div>
                            <hr />
                        </div>
                    </td>
                </tr>

            }

        </table>
    </div>*@
